{% extends "base.html" %}

{% block head %}
    <title>Cardiac</title>
{% endblock %}


{% block nav %}
    <li class="nav-item"><a class="nav-link ntext" href="{% url 'ml:history' model='Cardiac' %}">Previous Data </a></li>
{% endblock %}


{% block body %}
<style>body {background-color: aquamarine; }</style>

    <div class="container jumbotron">
        <!-- <input class="btn btn-primary" value="Previous/History"> -->
    <a class="btn btn-success ad" href="{% url 'ml:history' model='Cardiac' %}">Previous Data </a>
    <br>
    <br>
        <h2>Cardiac</h2>
        <br>
        <form method="post">
            <table>
                {{ form.as_table }}
            </table>
            {% csrf_token %}
            <br>
            <input type="submit" value="submit">
        </form>
    </div>
{% endblock %}