{% extends "base.html" %}
{% block head %}
<title>Record</title>
{% endblock %}

{% block body %}
<style>body {background-color: aquamarine; }</style>

<div class="container jumbotron align-items-center mx-auto">
    <table class="table table-bordered ">
        <thead class="thead-dark">
            <tr class="d-flex"> 
                <th scope="col" class="col-6 text-center"><h3>Fields</h3></th>
                <th scope="col" class="col-3">Value</th>
            </tr>
        </thead>
        <tbody>
            {% for dat in data %}
            <tr class="d-flex">
                <td class="col-6">{{ dat.0 }}</td>
                <td class="col-3">{{ dat.1 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if output == 0 %}
        <h4>Output: Negative</h4>
    {% else %}
        <h4>Output: Positive</h4>
    {% endif %}

    
</div>
{% endblock %}